<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn English Online">
  <meta name="author" content="Crystal Widjaja">
  <link rel='icon' href='/img/favicon.ico' type='image/x-icon' />

  <title>Edukita - Tentang kami</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper.js/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js" defer="defer"></script>

  <!-- Include content function -->
  <script src="/js/universal.min.js"></script>
</head>

<body>
  <!-- Navigation -->
  <div class="container">
    <div class="the-navbar">
      <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light align-items-center">
        <a href="/index_id.html" class="navbar-brand">
          <img src="/img/edukita-logo.jpg" height="30" alt="Edukita-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav font-weight-bold">
            <a href="/index_id.html" class="nav-item nav-link ">Beranda</a>
            <a href="/how-it-works_id.html" class="nav-item nav-link">Cara kerja</a>
            <a href="/live_classes_id.html" class="nav-item nav-link">Kelas live</a>
            <a href="/about_id.html" class="nav-item nav-link active">Tentang kami</a>
          </div>

          <div class="navbar-nav ml-auto">
            <div class="dropdown">
              <button class="btn btn-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"> </i> Bahasa Indonesia
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/about.html"> English</a>
              </div>
            </div>
          </div>
          <a class="nav-cta-btn" href="/contact_us_id.html">Hubungi kami</a>
        </div>
      </nav>
    </div>
  </div>

  <!-- Masthead -->
  <header class="masthead text-black text-left ">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-md-6 align-middle my-3">
          <h1>Membangun keterampilan di dunia modern</h1>
          <p class="masthead-subtext">Kami percaya bahwa setiap anak Indonesia harus memiliki keterampilan untuk berpartisipasi dan berkontribusi di dunia kerja modern</p>
        </div>
        <div class="col-md-6 no-gutters">
          <img src="/img/aboutus-topbanner.png" class="img-fluid w-100" alt="">
        </div>
      </div>
    </div>
  </header>
  

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container mt-5 mb-4 text-center">
      <div class="row ">
        <div class="col-lg-3 col-md-3 col-sm-5">
          <h1 class=" mx-auto">Yang kami yakini</h1>
        </div>
        
          <div class="col-lg-6 col-md-5">
            <p class="text-left">
              Kami telah melihat bagaimana kemampuan berbahasa Inggris yang baik dan benar berdampak positif pada hidup seseorang. 
              Keterampilan bahasa Inggris dapat membantu dalam meningkatkan kepercayaan diri, mengembangkan dasar pengetahuan, masuk ke universitas ternama, mendapatkan pekerjaan, dan juga bertemu kolega serta mentor yang hebat. 
              <br><br>
              Kami juga mengamati banyak kelas belajar bahasa Inggris yang cenderung mahal dan tidak terjangkau untuk anak Indonesia. Maka dari itu, kami di Edukita berkomitmen untuk menyediakan kursus bahasa Inggris yang menyenangkan, berkualitas tinggi, dan tentunya terjangkau. Kami hadir untuk menyediakan kursus yang efektif dalam membangun kefasihan berbahasa dan tersedia dalam berbagai pilihan harga. Harapan kami, anak-anak Indonesia bisa mendapatkan kesempatan yang sudah kami rasakan dari fasih berbahasa Inggris – dan tentunya juga dari dorongan orang tua kami :)
            </p>
          </div>
        
      </div>
    </div>
  </section>
  <!-- End About Section -->


  <!-- ======= Banner Separator for About Section ======= -->
  <section id="about-banner" class="about-banner">
    <div class="container">
      <div class="row justify-content-center mx-auto">
        <h2>
          Misi kami adalah untuk membangun fondasi <i>skills</i> agar anak-anak Indonesia dapat berpatisipasi secara efektif di dunia modern. Kami beraspirasi untuk membangun <i>skills</i> tersebut satu persatu, dimulai dengan keterampilan berbahasa Inggris.
        </h2>
      </div>
      <!-- <div class="row justify-content-center">
        <p>— Happy Mom</p>
      </div> -->
    </div>
  </section>
  <!-- End Banner Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">
      <div class="row justify-content-between align-items-center">

      <div class="col-lg-3 col-md-3 d-flex ">
        <div class="member">
          <img src="/img/team-2.jpeg" alt="">
          <h3>Peter Gumulia</h3>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 d-flex">
        <div class="member">
          <img src="/img/team-1.jpg" alt="">
          <h3>Sean Widjaja</h3>
        </div>
      </div> 

        <div class="col-lg-5 col-md-5 col-sm-5 order-first">
          <h1 class="px-2">Tim kami</h1>
          <p class="mx-auto">Kami adalah Peter Gumulia dan Sean Widjaja. Dua sejoli dengan passion yang sama yaitu <i>traveling</i> dan di bidang pendidikan. Rasa syukur atas apa yang sudah kami alami lewat pendidikan dan dunia kerjalah yang mendorong lahirnya Edukita.
            <br><br>
            Sekarang, kami mendedikasikan waktu untuk mencari pengajar berpengalaman, menyusun kurikulum yang tepat, dan tentunya mencari manfaat-manfaat lain yang bisa kami dan Edukita berikan untuk anak-anak Indonesia. Di waktu luang, biasanya kami disibukkan dengan hobi masing-masing. Peter asyik mendaki dan <i>scuba diving</i>; sedangkan Sean berulang kali pergi karaoke dan eksplor kota-kota baru.
        </p>
        </div>

      </div>
    </div>
  </section>
  <!-- End Team Section -->


  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">
      <div class="row justify-content-center">
        <h2>Siap untuk mulai?</h2>
      </div>
      <div class="row justify-content-center">
        <p> Hubungi kami untuk konsultasi gratis.</p>
      </div>
      <div class="row justify-content-center">
        <a class="cta-btn" href="/contact_us_id.html">Hubungi kami</a>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#home-top">Tentang kami</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/how-it-works_id.html">Cara kerja</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/live_classes_id.html">Kelas live</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Edukita 2020. All Rights Reserved.</p>
        </div>
        <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div> -->
      </div>
    </div>
  </footer>


</body>

</html>