<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166262930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-166262930-1');
</script>
<!-- /Global site tag (gtag.js) - Google Analytics -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn English Online">
  <meta name="author" content="Crystal Widjaja">
  <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>

  <title>Kreasi — Learn English Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper.js/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js" defer="defer"></script>

  <!-- Include content function -->
  <script src="/js/universal.min.js"></script>
</head>

<body>
<!-- Navigation -->
<div class="the-navbar">
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <a href="/index.html" class="navbar-brand">
          <img src="/img/logo-side.jpeg" height="28" alt="kreasi-logo">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav font-weight-bold">
              <a href="/index.html" class="nav-item nav-link ">Home</a>
              <a href="/how-it-works.html" class="nav-item nav-link">How It Works</a>
              <a href="/events.html" class="nav-item nav-link active">Events</a>
              <a href="/about.html" class="nav-item nav-link">About Us</a>
          </div>
          <div class="navbar-nav ml-auto">
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/us-flag.png" > English
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/index_id.html"><img src="img/indonesia-flag.png"> Bahasa Indonesia</a>
              </div>
            </div>
          </div>
          <a class="nav-cta-btn" href="/contact_us.html">Contact Us</a>
      </div>
  </nav>
</div>

<!-- Masthead -->
<header class="events-masthead text-black text-left">
  <div class="overlay" id="home-top"></div>
  <div class="container">
    <div class="row d-flex justify-content-start ">
      <div class="col-md-7">
        <h1>Live classes for students of all ages</h1>
        <p class="masthead-subtext">Click on the link below to sign up. Slots will be given on a first-come, first-serve basis.</p>
      </div>
    </div>
  </div>
  </div>
</header>

<!-- ======= Featured Classes: Persuasive Writing Section ======= -->
<section id="services" class="services section-bg">
    <div class="container persuasive-writing">
      <div class="section-title">
        <h2>Summer Camps</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="grade-badge"><span class="badge badge-secondary">Recommended for ages 10 - 18</span></div>
            <h4><a href="">Course title in five to ten words here</a></h4>
            <div class="lead">Course subtitle in ten to fifteen words here. It should be catchy and punchy.</div>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-hashtag fa-lg fa-fw"></i></span><b>&nbsp; Number of Classes:</b> 4</li>
                <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg fa-fw"></i></span><b>&nbsp; Date:</b> June 8, June 15, June 22, and June 29</li>    
                <li><span class="fa-li"><i class="fa fa-clock fa-lg fa-fw"></i></span><b>&nbsp; Time:</b> 13:00 WIB</li>    
                <li><span class="fa-li"><i class="fa fa-users fa-lg fa-fw"></i></span><b>&nbsp; Capacity:</b> 50 seats</li>
                <li><span class="fa-li"><i class="fa fa-tag fa-lg fa-fw"></i></span><b>&nbsp; Price:</b> FREE</li>
            </ul>
            <button type="button" class="btn btn-primary signup-badge pull-right">Sign Up</button>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="grade-badge"><span class="badge badge-secondary">Recommended for ages 10 - 18</span></div>
            <h4><a href="">Course title in five to ten words here</a></h4>
            <div class="lead">Course subtitle in ten to fifteen words here. It should be catchy and punchy.</div>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-hashtag fa-lg fa-fw"></i></span><b>&nbsp; Number of Classes:</b> 4</li>
                <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg fa-fw"></i></span><b>&nbsp; Date:</b> June 8, June 15, June 22, and June 29</li>    
                <li><span class="fa-li"><i class="fa fa-clock fa-lg fa-fw"></i></span><b>&nbsp; Time:</b> 13:00 WIB</li>    
                <li><span class="fa-li"><i class="fa fa-users fa-lg fa-fw"></i></span><b>&nbsp; Capacity:</b> 50 seats</li>
                <li><span class="fa-li"><i class="fa fa-tag fa-lg fa-fw"></i></span><b>&nbsp; Price:</b> FREE</li>
            </ul>
            <button type="button" class="btn btn-primary signup-badge pull-right">Sign Up</button>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="grade-badge"><span class="badge badge-secondary">Recommended for ages 10 - 18</span></div>
            <h4><a href="">Course title in five to ten words here</a></h4>
            <div class="lead">Course subtitle in ten to fifteen words here. It should be catchy and punchy.</div>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-hashtag fa-lg fa-fw"></i></span><b>&nbsp; Number of Classes:</b> 4</li>
                <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg fa-fw"></i></span><b>&nbsp; Date:</b> June 8, June 15, June 22, and June 29</li>    
                <li><span class="fa-li"><i class="fa fa-clock fa-lg fa-fw"></i></span><b>&nbsp; Time:</b> 13:00 WIB</li>    
                <li><span class="fa-li"><i class="fa fa-users fa-lg fa-fw"></i></span><b>&nbsp; Capacity:</b> 50 seats</li>
                <li><span class="fa-li"><i class="fa fa-tag fa-lg fa-fw"></i></span><b>&nbsp; Price:</b> FREE</li>
            </ul>
            <button type="button" class="btn btn-primary signup-badge pull-right">Sign Up</button>
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- End Persuasive Writing Section -->

 

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Have questions?</h2>
    </div>
    <div class="row justify-content-center">
      <p> Contact us to schedule a free consultation</p>
    </div>
    <div class="row justify-content-center">
      <a class="cta-btn" href="#formspree-section">Contact Us</a>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about.html">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#formspree-section">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Kreasi 2020. All Rights Reserved.</p>
        </div>
        <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>

</body>

</html>
