<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Crystal Widjaja">

  <title>SkillStride - Your English Learning Solution</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light navbar-expand-sm bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand py-0" href="#home-top">
        <img src="/img/logo-side.png" class="d-inline-block align-bottom" alt=""></a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto font-weight-bold">
          <li class="nav-item">
            <a class="nav-link" href="#home-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/about.html">About Us</a>
          </li>
          <li class="nav-item pl-4">
            <a class="navbar-btn btn btn-primary font-weight-bold" href="#formspree-section">Contact Us</a>
          </li>
        </ul>
      </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-left">
    <div class="overlay" id="home-top"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9">
          <h1 class="mb-2">English Learning Made Easy for Indonesians</h1>
          <div class="row">
            <div class="learn-more col-sm-3">
              <a href="#formspree-section" class="btn btn-primary btn-lg" role="button">Learn more!</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>
                <small>Native English tutors.<br>Personalized lessons.<br>Anytime, anywhere.</small>
              </h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <!-- // Our Mission <section class="mission bg-light text-left"> <div class="overlay"></div> <div class="container"> <div class="row"> <div class="col-xl-9 mx-auto"> <h1 class="mb-4">Our Mission</h1> <p class="font-italic lead mb-0">To empower Indonesians with the skills they need to succeed in a global economy.</p> <div class="row"> <div class="learn-more col-sm-3"> <button type="submit" class="btn btn-block btn-lg btn-primary">Learn more!</button> </div> </div> </div> </div> </section> -->

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <h4 class="mb-5 font-weight-light">SkillStride's live online classes, US-based tutors, and parent resources offers
        students of all ages the opportunity to learn English with a personalized approach.</h4>
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Native Speakers</h3>
            <p class="lead mb-0">Learn from the experts — our native English-speaking tutors!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Learn Anywhere</h3>
            <p class="lead mb-0">Live online sessions from the comfort of your own home!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Get Results</h3>
            <p class="lead mb-0">Customize your personalized learning plan with our engaging and interactive curriculum!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>



<!-- How It Works -->
 <header class="bg-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <h1 class="display-3 font-weight-bold my-5">How It Works</h1>
    </div>
  </div>
</div>
</div>
</header>
<!-- END How It Works -->

<!-- Vertical Steppers -->
<section class="stepper stepper-vertical my-5">
<div class="container">
  <ul class="events">
    <li class="event-item">Step 1<span><strong>Schedule Your Free Consultation</strong>Chat with an advisor that will design a curriculum that works for you.</span></li>
    <li>
      <time datetime="Step 2">Step 2</time> 
      <span><strong>Title of Step 2</strong> On time</span></li>
    <li>
      <time datetime="Step 3">Step 3</time> 
      <span><strong>Title of Step 3</strong> On time and other asdfasdfasdfsdf sdfsdfds</span></li>
  </ul>
 </div>
</section>
<!-- /.Vertical Steppers -->

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Testimonials</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Crystal W.</h5>
            <p class="font-weight-light mb-0">"OMG I'm learning so much!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"I love learning from SkillStride."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"I'm keeping lessons free because of COVID-19!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="cta-form col-md-5 col-lg-5 col-xl-5">
          <!--Form-->
          <form action="https://formspree.io/mknzyewd" method="POST">
            <div class="row">
              <div class="col">
                <h3 class="mb-4">Ready to learn?<br>Sign up now!</h3>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group mt-2" id="formspree-section">
                  <label>Your email:</label>
                  <input type="text" class="form-control" name="_replyto">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Your message:</label>
                <textarea name="message" class="form-control" placeholder="Tell us about your goals!"></textarea>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            </div>
        </div>
        </form>
      </div>
    </div>
    </div>
    </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about.html">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#formspree-section">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; SkillStride 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js"></script>

</body>

</html>
