<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166262930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-166262930-1');
</script>
<!-- /Global site tag (gtag.js) - Google Analytics -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn English Online">
  <meta name="author" content="Crystal Widjaja">
  <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>

  <title>Kreasi — Learn English Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper.js/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js" defer="defer"></script>

  <!-- Include content function -->
  <script src="/js/universal.min.js"></script>
</head>

<body>
<!-- Navigation -->
<div class="container">
  <div class="the-navbar">
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light align-items-center">
        <a href="/index.html" class="navbar-brand">
            <img src="/img/logo-side.jpeg" height="30" alt="kreasi-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav font-weight-bold">
            <a href="/index.html" class="nav-item nav-link active">Home</a>
            <a href="/how-it-works.html" class="nav-item nav-link">How It Works</a>
            <a href="/events.html" class="nav-item nav-link">Events</a>
            <a href="/about.html" class="nav-item nav-link">About Us</a>
          </div>
          <div class="navbar-nav ml-auto">
            <div class="dropdown">
              <button class="btn btn-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"> </i>  English
              </button>
              <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/index_id.html"> Bahasa Indonesia</a>
              </div>
            </div>
          </div>
        <a class="nav-cta-btn" href="#formspree-section" data-toggle="collapse" data-target="#navbarCollapse">Contact Us</a>
        </div>
    </nav>
  </div>
</div>


  <!-- Masthead -->
  <header class="masthead text-black text-left">
    <div class="container" id="home-top">
      <div class="row justify-content-between">
        <div class="col-md-6">
          <h1 class="display-3">English learning for everyone</h1>
          <p class="masthead-subtext">Take online English classes </p>
            <p class="masthead-subtext">with native speakers anywhere, anytime</p>
          <img src="/img/home-top banner-final.svg" class="img-fluid hero-img" alt="">
        </div>
        <!--Form-->
        <div class="col-md-4">
          <div class="cta-form bg-white">
            <form action="https://formspree.io/mknzyewd" method="POST">
              <div class="form-title">
                <h3 class="text-center">Try Kreasi for free!</h3>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control"  id="formspree-section" placeholder="First name" name="firstName"></div>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control"  id="formspree-section" placeholder="Last name" name="lastName"></div>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" placeholder="E-mail address" name="_replyto">
                </div>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" placeholder="Phone number" name="phone"></div>
              </div>
              <div class="form-group mt-3">
                <label for="customerType">I am a:</label><br>
                <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                  <label class="btn active">
                    <input type="radio" name="Customer Type" value="parent" id="parent" autocomplete="Parent" checked=""> Parent
                  </label>
                  <label class="btn">
                    <input type="radio" name="Customer Type" value="student" id="student" autocomplete="Student"> Student
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button type="submit" class="form-submit-btn btn-primary btn-block ">Contact Us</button>
                </div>
              </div>
            </form>
          </div>
        </div>
                <!--END Form-->
      </div>
    </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons text-center">
    <div class="container">
      <div class="section-title">
        <h2 class="mb-4">Why Kreasi?</h2>
      </div>
      <div class="row justify-content-between">
        <div class="col-lg-3  col-md-3">
          <div class="features-icons-item mb-4">
            <div class="features-icons-icon">
                <img class="static" src="/img/index/home-nativespeakers-hover-static.png" height="25" alt="kreasi-logo">
                <img class="active" src="/img/index/home-nativespeakers-hover-gif.gif" height="25" alt="kreasi-logo">
            </div>
            <h4>Native Speakers</h4>
            <p>Learn from one of our qualified and personable coaches!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="features-icons-item mb-4">
            <div class="features-icons-icon">
              <img class="static" src="/img/index/home-anywhereanytime-static.png" height="25" alt="kreasi-logo">
              <img class="active" src="/img/index/home-anywhereanytime-gif.gif" height="25" alt="kreasi-logo">
            </div>
            <h4>Anywhere, Anytime</h4>
            <p>Take online classes from your own home at a time that best suits you</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="features-icons-item mb-4">
            <div class="features-icons-icon">
              <img class="static" src="/img/index/home-customprograms-static.png" height="25" alt="kreasi-logo">
              <img class="active" src="/img/index/home-customprograms-gif.gif" height="25" alt="kreasi-logo">
            </div>
            <h4>Custom Programs</h4>
            <p>Mix and match writing, reading or speaking based on your passions and goals</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="features-icons-item mb-4">
            <div class="features-icons-icon">
              <img class="static" src="/img/index/home-multipleformats-static.png" height="25" alt="kreasi-logo">
              <img class="active" src="/img/index/home-multipleformats-gif.gif" height="25" alt="kreasi-logo">
            </div>
            <h4>Multiple Formats</h4>
            <p>Private or group lessons. The choice is yours!</p>
          </div>
        </div>
      </div>
      
      <div class="how-it-works-cta-banner row"> 
        <div class="find-out-btn col-lg-4">
          <a href="/how-it-works.html" class="find-out-how-it-works-btn" role="button">Find out how it works!</a>
        </div>

        <div class="contact-us-text col-lg-4 align-self-center">
          <a href="#formspree-section" class="btn" role="button"><i class="fa fa-chevron-circle-right"></i> Have questions? Contact us</a>
        </div>
      </div>

    </div>
  </section>


     <!-- ======= English Tutors Coach Section V2 ======= -->
     <section id="tutor" class="tutor">
      <div class="container">
        <div class="section-title">
          <h2>Meet Your English Coach</h2>
        </div>
  
        <div class="row justify-content-center">
  
          <div class="col-lg-5 col-md-6 d-flex align-items-stretch">
            <div class="member border border-primary">
              <img src="img/teacher-1-nathalie.jpg" alt="">
              <h4>Nathalie</h4>
              <p>I’m a passionate teacher from sunny San Diego, California, USA. I graduated with honors from Florida State University in 2014 and am looking forward to continuing my education at Harvard Extension School. I have 5 years of experience working with children as a performer and English teacher. My teaching style is warm, patient, and fun! I’m excited to get to know you and help you reach your English goals.</p>
            </div>
          </div>
  
          <div class="col-lg-5 col-md-6 d-flex align-items-stretch">
            <div class="member border border-primary">
              <img src="img/teacher-2-brooke.jpg" alt="">
              <h4>Brooke</h4>
              <p>Over the last 11 years, I have taught countless students in and outside of the United States. I hold a Masters of Science in Literacy from the University of Dayton and a Bachelor of Arts in Elementary and Special Education from Providence College. During my free time, I enjoy playing piano and guitar and spending time outdoors running, hiking, and skiing. I’m particularly passionate about teaching Writing and Literature and look forward to working with many of you!</p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section>
    <!-- End Team Section -->


   <!-- ======= English Tutors Coach Section ======= -->
   <section id="tutor" class="tutor">
    <div class="container">
      <div class="section-title">
        <h2>Meet Your English Coach</h2>
      </div>

      <div class="row justify-content-center">

        <div class="col-lg-5 col-md-6 d-flex align-items-stretch">
          <div class="member border border-primary">
            <img src="img/teacher-1-nathalie.jpg" alt="">
            <h4>Nathalie</h4>
            <p>I’m a passionate teacher from sunny San Diego, California, USA. I graduated with honors from Florida State University in 2014 and am looking forward to continuing my education at Harvard Extension School. I have 5 years of experience working with children as a performer and English teacher. My teaching style is warm, patient, and fun! I’m excited to get to know you and help you reach your English goals.</p>
          </div>
        </div>

        <div class="col-lg-5 col-md-6 d-flex align-items-stretch">
          <div class="member border border-primary">
            <img src="img/teacher-2-brooke.jpg" alt="">
            <h4>Brooke</h4>
            <p>Over the last 11 years, I have taught countless students in and outside of the United States. I hold a Masters of Science in Literacy from the University of Dayton and a Bachelor of Arts in Elementary and Special Education from Providence College. During my free time, I enjoy playing piano and guitar and spending time outdoors running, hiking, and skiing. I’m particularly passionate about teaching Writing and Literature and look forward to working with many of you!</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End Team Section -->

  <!-- Testimonials-->
  <section id="testimonials" class="testimonials">
    <div class="container">
      <div class="section-title">
        <h2>Find out what our students and their parents have to say</h2>
      </div>  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators are not here because I cannot figure out what is causing the 30px height-->
				
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="img-box"><img src="/img/testimonials-1.jpeg" alt=""></div>
						<p class="testimonial"><i class ="fa fa-quote-left fa-1x"></i> Mastering English is a must for my child’s future. With Kreasi, my child learns directly from instructors who are fun, interactive, and approachable. Results can immediately be seen - my child has gotten a lot more confident since joining Kreasi. <i class ="fa fa-quote-right fa-1x"></i></p>
						<p class="overview"><b>— Nia</b>, Parent of a student in 10th grade</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="/img/parent-1-joyce.jpg" alt=""></div>
						<p class="testimonial"><i class ="fa fa-quote-left fa-1x"></i> Learning the foundations of English is extremely important for my child so she can be successful in her future study. I chose Kreasi because it offers high quality, experienced, and highly engaging teachers for my young child. Moreover, lessons can be taken at the convenience of my own home. <i class ="fa fa-quote-right fa-1x"></i></p>
						<p class="overview"><b>— Joyce</b>, Parent of a student in 5th grade</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="/img/parent-2-jenny.jpeg" alt=""></div>
						<p class="testimonial"><i class ="fa fa-quote-left fa-1x"></i> English is becoming the 1st language for all. I chose Kreasi because of the quality of the program. It is very effective, organized, and well-designed.  Kreasi, unlike other programs, also emphasizes the importance of effective writing. I highly recommend Kreasi to anyone. <i class ="fa fa-quote-right fa-1x"></i></p>
						<p class="overview"><b>— Jenny</b>, parent of a student in 10th grade</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
  </div>
</section>

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Ready to get started?</h2>
    </div>
    <div class="row justify-content-center">
      <p> Contact us to schedule a free consultation.</p>
    </div>
    <div class="row justify-content-center">
      <a class="cta-btn" href="#formspree-section">Contact Us</a>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about.html">About Us</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/how-it-works.html">How It Works</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/events.html">Events</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Kreasi 2020. All Rights Reserved.</p>
        </div>
        <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>

</body>

</html>
