<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166262930-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-166262930-1');
</script>
<!-- /Global site tag (gtag.js) - Google Analytics -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn English Online">
  <meta name="author" content="Crystal Widjaja">
  <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>

  <title>SkillStride — Learn English Online</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js" defer="defer"></script>

  <!-- Include content function -->
  <script src="/js/universal.min.js"></script>


</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-light bg-white navbar-expand-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand py-0" href="/index.html">
      <img src="/img/logo-side.png" class="d-inline-block align-bottom" alt=""></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto font-weight-bold">
        <li class="nav-item">
          <a class="nav-link active" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/how-it-works.html">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about.html">What's Happening</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/about.html">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/us-flag.png"> English
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/index_id.html"><img src="img/indonesia-flag.png"> Bahasa Indonesia</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-cta-btn" href="#formspree-section">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- Masthead -->
  <header class="masthead text-black text-left">
    <div class="overlay" id="home-top"></div>
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-md-7 mx-auto">
          <h2 class="mb-3 ">Online English classes with native speakers in the comfort of your own home</h2><img class="image w-75 mb-2 align-center" src="/img/masthead-vector.svg">
        </div>
        <!--Form-->
        <div class="col-md-4 mx-auto">
          <div class="cta-form shadow bg-light rounded">
            <form action="https://formspree.io/mknzyewd" method="POST">
              <div class="form-row">
                <h4 class="mb-3 text-center">Find out more!</h4>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control"  id="formspree-section" placeholder="Full name" name="name"></div>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" placeholder="E-mail address" name="_replyto">
                </div>
              </div>
              <div class="form-row">
                <div class="col"><input type="text" class="form-control" placeholder="Phone number" name="phone"></div>
              </div>
              <div class="form-group m-2">
                <label for="customerType">I am a:</label><br>
                <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="Customer Type" id="parent" autocomplete="Parent" checked> Parent
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="Customer Type" id="student" autocomplete="Student"> Student
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button type="submit" class="btn-block btn-primary">Contact Us</button>
                </div>
              </div>
            </form>
          </div>
        </div>
                <!--END Form-->
      </div>
    </div>
    </div>
  </header>
  <hr/>

  <!-- Icons Grid -->
  <section class="features-icons bg-white text-center">
    <div class="container">
      <h2 class="mb-5">Why Kreasi?</h2>
      <div class="row justify-content-between">
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h4>Native Speakers</h4>
            <p class="lead mb-0">Learn from one of our qualified and personable coaches!</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h4>Anywhere, Anytime</h4>
            <p class="lead mb-0">Take online classes from your own home at a time that best suits you</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h4>Custom Programs</h4>
            <p class="lead mb-0">Mix and match writing, reading or speaking based on your passions and goals</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-notebook m-auto text-primary"></i>
            </div>
            <h4>Multiple Formats</h4>
            <p class="lead mb-0">Private or group lessons. The choice is yours!</p>
          </div>
        </div>
      </div>
      <div class="row my-2"> 
        <div class= "mx-auto text-center">
        <a href="#formspree-section" class="cta-btn mt-3" role="button">Find out how it works!</a>
        </div>
      </div>
    </div>
  </section>
  <hr/>

   <!-- ======= English Tutors Coach Section ======= -->
   <section id="team" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Meet Your English Coach</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/img/team-1.jpg" alt="">
            <h4>Brooke C.</h4>
            <p>
              Over the last 11 years, I have taught English to countless students within and outside of the United States. I graduated from University of Dayton with a degree in Elementary and Special education and feel particularly passionate about English writing. During my free time, I enjoy playing piano and guitar! I also soak up as much time I can outdoors running, hiking, and skiing. I look forward to working with many of you!
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/img/team-2.jpeg" alt="">
            <h4>Nathalie Z.</h4>
            <p>
              I am a passionate, energetic, and creative English teacher from Southern California. I graduated from Florida State University and have 5 years of English teaching experience. I enjoy combining entertainment with education because I find that learning is most effective when it is fun! My teaching style is warm, patient, encouraging, interactive, and personalized. I want my students to feel comfortable in my classroom. I’m especially excited to learn about Indonesian culture and am excited to meet you all!
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="/img/team-1.jpg" alt="">
            <h4>Louise</h4>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <hr/>
  <!-- End Team Section -->

  <!-- Testimonials-->
  <section class="testimonials bg-white">
    <div class="container">
      <div class="row my-0">
        <div class="col-sm-12">
          <h2>What <b>Our Customers</b> Are Saying:</h2>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item carousel-item active">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-3.jpg" alt="">										
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Paula Wilson</b></div>
                          <div class="details">Media Analyst / SkyNet</div>
                          </div>							
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-1.jpg" alt="">
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Antonio Moreno</b></div>
                          <div class="details">Web Developer / SoftBee</div>
                        </div>										
                      </div>
                    </div>
                  </div>
                </div>			
              </div>
              <div class="item carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-3.jpg" alt="">										
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Michael Holz</b></div>
                          <div class="details">Web Developer / DevCorp</div>
                        </div>										
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-1.jpg" alt="">										
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Mary Saveley</b></div>
                          <div class="details">Graphic Designer / MarsMedia</div>
                        </div>										
                      </div>
                    </div>
                  </div>
                </div>			
              </div>
              <div class="item carousel-item">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-2.jpg" alt="">										
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>Martin Sommer</b></div>
                          <div class="details">SEO Analyst / RealSearch</div>
                        </div>										
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="testimonial">
                      <p>Vestibulum quis quam ut magna consequat faucibu. Eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus quam.</p>
                    </div>
                    <div class="media">
                      <div class="media-left d-flex mr-3">
                        <img src="/img/testimonials-1.jpg" alt="">										
                      </div>
                      <div class="media-body">
                        <div class="overview">
                          <div class="name"><b>John Williams</b></div>
                          <div class="details">Web Designer / UniqueDesign</div>
                        </div>										
                      </div>
                    </div>
                  </div>
                </div>			
              </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
              <i class="fa fa-chevron-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
</section> 

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="col-lg-9 text-center text-lg-left">
        <h3>Ready to get started?</h3>
        <p> Contact us to schedule a free consultation.</p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#formspree-section">Contact Us</a>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about.html">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#formspree-section">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; SkillStride 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>