<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Learn English Online">
  <meta name="author" content="Crystal Widjaja">
  <link rel='icon' href='/img/favicon.ico' type='image/x-icon'/>

  <title>Edukita - Kelas live</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/css/index.min.css" rel="stylesheet">

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/popper.js/popper.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Button click-to-scroll function -->
  <script src="/js/index.min.js" defer="defer"></script>

  <!-- Include content function -->
  <script src="/js/universal.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script>var gtagLoaded=false;</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173050893-1" onload="gtagLoaded=true"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173050893-1');
</script>

<script>
  /**
  * Function that registers a click on an outbound link in Analytics.
  * This function takes a valid URL string as an argument, and uses that URL string
  * as the event label. Setting the transport method to 'beacon' lets the hit be sent
  * using 'navigator.sendBeacon' in browser that support it.
  */
  var getOutboundLink = function(url) {
    gtag('event', 'click', {
      'event_category': 'outbound',
      'event_label': url,
      'transport_type': 'beacon',
      'event_callback': function(){document.location = url;}
    });
  }
  </script>


</head>

<body>
<!-- Navigation -->
<div class="container">
  <div class="the-navbar">
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light align-items-center">
        <a href="/index_id.html" class="navbar-brand">
            <img src="/img/edukita-logo.jpg" height="30" alt="edukita-logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav font-weight-bold">
                <a href="/index_id.html" class="nav-item nav-link ">Beranda</a>
                <a href="/how-it-works_id.html" class="nav-item nav-link">Cara kerja</a>
                <a href="/live_classes_id.html" class="nav-item nav-link active">Kelas LIVE</a>
                <a href="/about_id.html" class="nav-item nav-link ">Tentang kami</a>
            </div>
            
            <div class="navbar-nav ml-auto">
              <div class="dropdown">
                <button class="btn btn-link font-weight-bold dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"> </i>  Bahasa Indonesia
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/live_classes.html"> English</a>
                </div>
              </div>
            </div>
            <a class="nav-cta-btn" href="/contact_us_id.html">Hubungi kami</a>
        </div>
    </nav>
  </div>
</div>

<!-- Masthead -->
<header class="masthead text-black text-left">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6  align-middle mt-3">
        <h1 class="display-3">Ayo gabung ke kelas LIVE kami!</h1>
        <p class="masthead-subtext">Klik link di bawah untuk ikut kelas-kelas LIVE kami. Siapa cepat, dia dapat!</p>
      </div>
      <div class="col-md-6 align-middle">
        <img src="/img/events-topbanner-final.svg" class="img-fluid hero-img w-100 float-left" alt="">
      </div>
    </div>
  </div>
</header>

 <!-- Icons Grid -->
 <section class="features-icons text-center">
  <div class="container ">
    <div class="section-title">
      <h2 class="mb-4"> </h2>
    </div>
    <div class="section-title">
      <h2 class="mb-4">Mengapa memilih kelas <i>LIVE</i> Edukita?</h2>
    </div>
    <div class="row justify-content-between">
      <div class="col-lg-3  col-md-3">
        <div class="features-icons-item mb-4">
          <div class="features-icons-icon">
            <img class="static" src="/img/star-teachers.png" height="25" alt="edukita-logo">
            <img class="active" src="/img/star-teachers.gif" height="25" alt="edukita-logo">
          </div>
          <h4><i>Star Teachers</i></h4>
          <p>Belajar langsung dari <i>star teachers</i> Edukita dengan rating  4.8/5.0!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="features-icons-item mb-4">
          <div class="features-icons-icon">
            <img class="static" src="/img/live-classes.png" height="25" alt="edukita-logo">
            <img class="active" src="/img/live-classes.gif" height="25" alt="edukita-logo">
          </div>
          <h4><i>LIVE & Engaging</i></h4>
          <p>Jauh lebih baik dari menonton rekaman konten dan video</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="features-icons-item mb-4">
          <div class="features-icons-icon">
            <img class="static" src="/img/two-way-interaction.png" height="25" alt="edukita-logo">
            <img class="active" src="/img/two-way-interaction.gif" height="25" alt="edukita-logo">
          </div>
          <h4>Metode yang Interaktif</h4>
          <p>Interaksi dua arah antara murid-murid dan pengajarnya</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="features-icons-item mb-4">
          <div class="features-icons-icon">
            <img class="static" src="/img/safe-convenient.png" height="25" alt="edukita-logo">
            <img class="active" src="/img/safe-convenient.gif" height="25" alt="edukita-logo">
          </div>
          <h4>Aman & Nyaman</h4>
          <p>Ambil kelas dalam keamanan dan kenyamanan rumah sendiri</p>
        </div>
      </div>
    </div>
      
      <div class="how-it-works-cta-banner row">
        <div class="find-out-btn col-lg-4 align-items-center">
          <a href="https://edukita.typeform.com/to/ePMygItR#source=website" class="find-out-how-it-works-btn" role="button" target="_blank">  Daftar sekarang  </a>
        </div>

        <div class="contact-us-text col-lg-4 align-self-center my-1">
          <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p" class="btn" role="button"><i class="fa fa-chevron-circle-right" target="_blank"></i> Lihat deskripsi kelas</a>
        </div>

      </div>
    </section>


    <section class="events mt-5">
      <div class="container" >
        <div class="section-title" id="#liveClasses">
            <h2>MONTHLY ELECTIVES</h2>
          </div>
        <div class="row justify-content-center">
   <!-- new row-->
   <div class="row justify-content-center">
        
    <!--Netflix-->
    <div class="col-lg-4 mt-3">
     <div class="card mb-5 mb-lg-0 h-100">
       <div class="card-body d-flex flex-column">
         <h5 class="card-event-badge text-muted text-uppercase text-center">ELECTIVE</h5>
         <h3 class="card-title"> Topic of the Month: History of Netflix <b style="color: #f93f32"> *NEW*</b></h3>
         <div class="card-description lead">Improve your English through by answering the question of the month: how did all of the world start watching Netflix? 
           <br>
         </div>
         <hr>
         <ul class="fa-ul">
           <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
               <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 6</li>  
               <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Sunday</u></b>, 11:30 - 12:30 WIB</li>
               <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
               <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <b style="color:#2bcc9e; font-size:120%"> FREE</b> <i style="font-size:80%">(limited time only)</i></li>
               <br>
               <br>
        </ul>
       <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
       <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
       
     </div>
     </div>
   </div>
  
    <!--Developing the Perfect Presentation-->
    <div class="col-lg-4 mt-3">
     <div class="card mb-5 mb-lg-0 h-100">
       <div class="card-body d-flex flex-column">
         <h5 class="card-event-badge text-muted text-uppercase text-center">ELECTIVE</h5>
         <h3 class="card-title">Developing the Perfect Presentation <b style="color: #f93f32"></b></h3>
         <div class="card-description lead">Learn the end-to-end process for constructing and delivering a compelling formal presentation.
           <br>
         </div>
         <hr>
         <ul class="fa-ul">
           <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
               <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 5</li>  
               <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Saturday</u></b>, 13:00 - 14:00 WIB</li>
               <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
               <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <s style= "font-size:80%">Rp 500.000</s> <b style="color:#2bcc9e; font-size:110%"> Rp 300.000</b> <i style="font-size:80%"> (40% off)</i></li>
               <li><span class="fa-li"></span>or purchase our <b>STUDENT PACKAGE</b> for</s> <b style="color:#2bcc9e; font-size:110%"> Rp 500.000</b> to get access to <u>all</U> courses!</li>
        </ul>
       <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
       <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
       
     </div>
     </div>
   </div>
   
  </div> <!--end of row-->
  
  
    </section>
    
    <!-- ======= Featured Classes: ALL LEVELS ======= -->
    
    <section class="events">
      <div class="container">
        <div class="section-title">
            <h2>WRITING</h2>
          </div>
        <!-- new row-->
        <div class="row justify-content-center">
  
  
  
           <!-- persuasive writing-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">WRITING</h5>
                <h3 class="card-title">Persuasive Writing</h3>
                <div class="card-description lead">Learn how to structure and write a five paragraph persuasive essay.
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                      <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Cohort 1: </b>Starts Sep 5</li>
                      <li><span class="fa-li"></span><b>Cohort 2: </b>Starts Aug 31</li>    
                      <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Cohort 1: </b><b><u>Saturday</u></b>, 10:00 – 11:00 WIB</li>
                      <li><span class="fa-li"></span><b>Cohort 2: </b><b><u>Monday</u></b>, 19:00 – 20:00 WIB</li>    
                      <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                      <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <b style="color:#2bcc9e; font-size:120%"> FREE</b> <i style="font-size:80%">(limited time only)</i></li>
                </ul>
              <a class="btn-disabled btn-block mb-2" href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" >See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
    
  <!--Narrative writing part 1-->
  <div class="col-lg-4 mt-3">
    <div class="card mb-5 mb-lg-0 h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-event-badge text-muted text-uppercase text-center">WRITING</h5>
        <h3 class="card-title">Narrative Writing: Part 1 <b style="color: #f93f32"></b></h3>
        <div class="card-description lead">Learn how to conceptualize, plan, and structure your stories and personal statements.
          <br>
        </div>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
              <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 6</li>  
              <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Sunday</u></b>, 10:00 - 11:00 WIB</li>
              <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
              <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <s style= "font-size:80%">Rp 500.000</s> <b style="color:#2bcc9e; font-size:110%"> Rp 300.000</b> <i style="font-size:80%"> (40% off)</i></li>
              <li><span class="fa-li"></span>or purchase our <b>STUDENT PACKAGE</b> for</s> <b style="color:#2bcc9e; font-size:110%"> Rp 500.000</b> to get access to <u>all</U> courses!</li>
        </ul>
      <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
      <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
      
    </div>
    </div>
  </div>
  
   <!--Narrative writing part 2-->
   <div class="col-lg-4 mt-3">
    <div class="card mb-5 mb-lg-0 h-100">
      <div class="card-body d-flex flex-column">
        <h5 class="card-event-badge text-muted text-uppercase text-center">WRITING</h5>
        <h3 class="card-title">Narrative Writing: Part 2 <b style="color: #f93f32"> *NEW*</b></h3>
        <div class="card-description lead">Practice your writing skills by running through exercises to improve your stories and personal statements.
          <br>
        </div>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
              <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 6</li>  
              <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Sunday</u></b>, 14:30 - 15:30 WIB</li>
              <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
              <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <s style= "font-size:80%">Rp 500.000</s> <b style="color:#2bcc9e; font-size:110%"> Rp 300.000</b> <i style="font-size:80%"> (40% off)</i></li>
              <li><span class="fa-li"></span>or purchase our <b>STUDENT PACKAGE</b> for</s> <b style="color:#2bcc9e; font-size:110%"> Rp 500.000</b> to get access to <u>all</U> courses!</li>
        </ul>
      <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
      <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
      
    </div>
    </div>
  </div>
  
   
        <!--end of row-->
      </div>
    </section>
    
    <!-- ======= GRAMMAR ======= -->
    
    <section class="events">
      <div class="container">
        <div class="section-title">
            <h2>GRAMMAR</h2>
          </div>
        <!-- new row-->
        <div class="row justify-content-center">
        
           <!--Grammar 1-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">GRAMMAR</h5>
                <h3 class="card-title">Grammar Foundations 1</h3>
                <div class="card-description lead">Understand the rules for sentence completeness, subject-verb and noun-pronoun agreement, and basic punctuation.
                  <br>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                  <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Cohort 1: </b>Starts Sep 5</li>
                  <li><span class="fa-li"></span><b>Cohort 2: </b>Starts Sep 2</li>    
                  <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Cohort 1: </b><b><u>Saturday</u></b>, 14:30 – 15:30 WIB</li>
                  <li><span class="fa-li"></span><b>Cohort 2: </b><b><u>Wednesday</u></b>, 18:00 – 19:00 WIB</li>    
                  <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                  <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <b style="color:#2bcc9e; font-size:120%"> FREE</b> <i style="font-size:80%">(limited time only)</i></li>
                </ul>
              <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
  
    
           <!--GRAMMAR 2-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">GRAMMAR</h5>
                <h3 class="card-title">Grammar Foundations 2</h3>
                <div class="card-description lead">Understand the rules for  tenses, parallel structure, comparisons, and prepositions.
                  <br>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                      <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 5</li>  
                      <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Saturday</u></b>, 16:00 - 17:00 WIB</li>
                      <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                      <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <s style= "font-size:80%">Rp 500.000</s> <b style="color:#2bcc9e; font-size:110%"> Rp 300.000</b> <i style="font-size:80%"> (40% off)</i></li>
                      <li><span class="fa-li"></span>or purchase our <b>STUDENT PACKAGE</b> for</s> <b style="color:#2bcc9e; font-size:110%"> Rp 500.000</b> to get access to <u>all</U> courses!</li>
                      <br>
                </ul>
              <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
  
           <!--GRAMMAR 3-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">GRAMMAR</h5>
                <h3 class="card-title">Grammar Foundations 3 <b style="color: #f93f32"> *NEW*</b></h3>
                <div class="card-description lead">Understand the use of articles, commonly-misused words, and syntax and modifiers.
                  <br>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                      <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 6</li>  
                      <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Sunday</u></b>, 16:00 - 17:00 WIB</li>
                      <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                      <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <s style= "font-size:80%">Rp 500.000</s> <b style="color:#2bcc9e; font-size:110%"> Rp 300.000</b> <i style="font-size:80%"> (40% off)</i></li>
                      <li><span class="fa-li"></span>or purchase our <b>STUDENT PACKAGE</b> for</s> <b style="color:#2bcc9e; font-size:110%"> Rp 500.000</b> to get access to <u>all</U> courses!</li>
                      <br>
                </ul>
              <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
  
    
    
      </div>
    </section>
    
    
    <!-- ======= Featured Classes: ELECTIVES ======= -->
    
    <section class="events">
      <div class="container">
        <div class="section-title">
            <h2>READING & VOCABULARY</h2>
          </div>
        <!-- new row-->
        <div class="row justify-content-center">
        
           <!--reading without reading-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">READING</h5>
                <h3 class="card-title">Reading Without Reading</h3>
                <div class="card-description lead">Shortcuts to quickly understand English texts for standardized tests (TOEFL, IELTS, and SAT), school assignments, and more.
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                      <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 5</li>  
                      <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Saturday</u></b>, 11:30 – 12:30 WIB</li>
                      <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                      <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <b style="color:#2bcc9e; font-size:120%"> FREE</b> <i style="font-size:80%">(limited time only)</i></li>
                </ul>
              <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
    
           <!--vocabulary building-->
           <div class="col-lg-4 mt-3">
            <div class="card mb-5 mb-lg-0 h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-event-badge text-muted text-uppercase text-center">VOCABULARY</h5>
                <h3 class="card-title">Vocabulary Building <b style="color: #f93f32"> *NEW*</b></h3>
                <div class="card-description lead">Expand your vocabulary by reading short and interactive stories, which include fiction, non-fiction, and literary texts.
                  <br>
                </div>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fa fa-hashtag fa-lg"></i></span><b>Number of classes:</b> 4</li>
                      <li><span class="fa-li"><i class="fa fa-calendar-alt fa-lg"></i></span><b>Date: </b>Starts Sep 6</li>  
                      <li><span class="fa-li"><i class="fa fa-clock fa-lg"></i></span><b>Time: </b><b><u>Sunday</u></b>, 13:00 - 14:00 WIB</li>
                      <li><span class="fa-li"><i class="fa fa-sign-in-alt fa-lg"></i></span><b>Status:</b> Open for registration</li>
                      <li><span class="fa-li"><i class="fa fa-tag fa-lg"></i></span><b>Price:</b> <b style="color:#2bcc9e; font-size:120%"> FREE</b> <i style="font-size:80%">(limited time only)</i></li>
                </ul>
              <a href="https://docs.google.com/presentation/d/1shZmyMVJhJ9rVAgGTdbTS6ukTNDNyJyZkblOWt2CWTE/edit#slide=id.p"  target="_blank" rel="noopener" class="btn-disabled btn-block mb-2">See course description</a>
              <a href="https://edukita.typeform.com/to/ePMygItR#source=website"  target="_blank" rel="noopener" class="btn btn-block my-auto">Sign up now</a>
              
            </div>
            </div>
          </div>
    
  
        </div> <!--closing the row-->
  
  
        </div> <!--end of row-->
  
  
    </div>
  </section>

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="row justify-content-center">
      <h2>Ada pertanyaan?</h2>
    </div>
    <div class="row justify-content-center">
      <p>Hubungi kami untuk konsultasi gratis.</p>
    </div>
    <div class="row justify-content-center">
      <a class="cta-btn" href="/contact_us_id.html">Hubungi kami</a>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/about_id.html">Tentang kami</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="/contact_us_id.html">Hubungi kami</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Edukita 2020. All Rights Reserved.</p>
        </div>
        <!-- <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>

</body>

</html>
