
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 10px 0;
  background-color: $white;
  text-align: center;
}

@media (min-width: 768px) {
  .about h1 {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .about h1 {
    text-align: left;
    padding: 5px 15px;
    margin-bottom: 20px;
  }
}


.about p {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  font-weight: 400;
  font-size: 16px;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li + li {
  margin-top: 10px;
}

.about ul li {
  position: relative;
  padding-left: 26px;
}

.about ul i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
}

.about .icon-boxes {
  padding-top: 10px;
}

.about .icon-boxes h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .icon-boxes i {
  font-size: 48px;
}

.about .icon-boxes p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background-color: $white;
}

.team p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-weight: 400;
  font-size: 16px;
}

.team .member {
  text-align: center;
  padding: 20px 10px;
}

.team .member img {
  max-width: 100%;
  margin: 10px 0px 20px 0px;
}

.team .member span {
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #000;
  transition: 0.3s;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}