@media (min-width: 768px) {
  .about-us-masthead {
    position: relative;
    background-color: #ffffff;
    background: url('../img/aboutus-topbanner.svg') no-repeat 90% 15%;
    background-size: 600px 700px;
    padding-top: 9rem;
    padding-bottom: 10rem;
    .overlay {
      position: absolute;
      background-color: white;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  h1 {
    font-weight: 700;
  }

  .about-us-masthead .masthead-subtext {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: .5px;
  line-height: 1.2;
  padding-top: 0px;
  padding-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .about-us-masthead {
    position: relative;
    background-color: #ffffff;
    background: url('../img/aboutus-topbanner.svg') no-repeat;
    background-position: 40px 220px;
    background-size: 400px 400px;
    padding-top: 8rem;
    padding-bottom: 12rem;
    margin-bottom: 1rem;
    .overlay {
      position: absolute;
      background-color: white;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
    }
    
    h1 {
      font-weight: 700;
      font-size: 60px;
      }
  }
  .about-us-masthead .masthead-subtext {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: .5px;
  line-height: 1.2;
  padding-top: 5px;
  margin-bottom: 4rem;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  padding: 10px 0;
  background-color: $blue;
  text-align: center;
}

.about h2 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.about p {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li + li {
  margin-top: 10px;
}

.about ul li {
  position: relative;
  padding-left: 26px;
}

.about ul i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
}

.about .icon-boxes {
  padding-top: 10px;
}

.about .icon-boxes h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .icon-boxes i {
  font-size: 48px;
}

.about .icon-boxes p {
  font-size: 15px;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background-color: $white;
}

.team p {
  padding-left: 15px;
  padding-right: 15px;
}

.team .member {
  text-align: center;
  padding: 20px 20px;
}

.team .member img {
  max-width: 100%;
  margin: 0 0 20px 0;
}

.team .member span {
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #000;
  transition: 0.3s;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}