.call-to-action {
  position: relative;
  background: url('../img/bg-masthead.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}

.cta-form {
  background-color: white;
  padding-bottom: 32px;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  border-radius: 8px;
  border: black solid;
}

.cta-form .form-row {
  margin-top: 10px;
}

.cta-form .form-title {
  padding-bottom: 2px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.cta-form .btn-block {
  margin-top: 15px;
}


.cta-form .btn-group .btn {
  border-color: black;
}
.cta-form .btn-group .btn:active {
    color: #fff;
    background-color: $secondary;
    border-color: #1d2124;
  }
  .cta-form .btn-group .btn:hover {
    color: #fff;
    background-color: $secondary;
    border-color: #1d2124; }
    .cta-form .btn-group .btn:focus, .btn.focus {
    background-color: $secondary;
    color: black; }
