@media (min-width: 768px) {
    .contact-us-masthead {
      position: relative;
      background-color: #ffffff;
      background: url('/img/howitworks-step1-test.svg') no-repeat;
      background-position: 380px 100px;
      background-size: 600px 600px;
      padding-top: 7rem;
      padding-bottom: 5rem;
      .overlay {
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
  
      h1 {
        font-weight: 700;
      }
    }
  
    .contact-us-masthead .masthead-subtext {
      font-weight: 400;
      font-size: 32px;
      letter-spacing: .5px;
      line-height: 1.2;
      padding-top: 0px;
      padding-bottom: 15px;
    }
  }
  
  
  @media (max-width: 576px) {
    .contact-us-masthead {
      position: relative;
      background-color: #ffffff;
      background: url('../img/masthead.svg') no-repeat;
      background-position: 0px 100px;
      background-size: 500px 600px;
      padding-top: 7rem;
      padding-bottom: 5rem;
      .overlay {
        position: absolute;
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
      }
  
      h1 {
        font-weight: 700;
        font-size: 60px;
      }
    }
  
    .contact-us-masthead .masthead-subtext {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: .5px;
      line-height: 1.2;
      padding-top: 0px;
      padding-bottom: 30px;
      margin-bottom: 7rem;
    }
  }