

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.events-masthead {
  position: relative;
  background-color: #ffffff;
  background: url('../img/events-topbanner-final.svg') no-repeat 90% 10%;
  background-size: 700px 700px;
  padding-top: 7rem;
  padding-bottom: 12rem;
  margin-bottom: 1rem;
  .overlay {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
  }
}

h1 {
  font-weight: 700;
}

.events-masthead .masthead-subtext {
font-weight: 400;
font-size: 36px;
letter-spacing: .5px;
line-height: 1;
padding-top: 0px;
padding-bottom: 15px;
}

/*--------------------------------------------------------------
# Courses Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: left;
  border: 3px solid #000;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .grade-badge {
  text-align: left;
  padding: 10px 10px;
  top: -10px;
}

.services .icon-box .signup-badge {
  margin: 10px;
  float: right;
}

.services .icon-box .icon {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: $black;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  padding: 10px 20px 0px 20px;
  font-size: 24px;
}

.services .icon-box h4 a {
  transition: ease-in-out 0.3s;
}

.services .icon-box .lead {
  padding: 0px 20px 10px 20px;
  line-height: 24px;
  margin-bottom: 0;
}

.services .icon-box .fa-ul {
  padding: 5px 15px 0px 5px;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0px;
  list-style-position: outside;
}
