
/*--------------------------------------------------------------
# Courses Services
--------------------------------------------------------------*/
.services {
  background-color: $yellow;
}

.services .icon-box {
  text-align: left;
  border: 3px solid #000;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.services .icon-box .grade-badge {
  text-align: left;
  padding: 8px 10px;
  top: -10px;
  font-size: 20px;
}

.services .icon-box .signup-badge {
  margin: 10px;
  float: right;
  background: $green;
  color: $black;
  padding: 8px 20px 10px 20px;
  letter-spacing: 0.55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid $black;
  
}

.services .icon-box .icon {
  margin: 0 auto;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: $black;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  padding: 15px 20px 0px 20px;
  font-size: 24px;
}

.services .icon-box h4 a {
  transition: ease-in-out 0.3s;
}

.services .icon-box .lead {
  padding: 0px 20px 10px 20px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 500;
}

.services .icon-box .fa-ul {
  padding: 5px 10px 10px 45px;
  line-height: 1.5;
  font-size: 16px;
  margin: 0px;
  list-style-position: outside;
}


.services .icon-box .fa-ul li {
  line-height: 1.4;
  padding: 10px 0px 5px 8px;
  
}