
/*--------------------------------------------------------------
# Courses Services
--------------------------------------------------------------*/
section.events {
  background: #9A9BFB;
}

.events .card {
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.events hr {
  margin: 1rem 0;
}

.events .card-event-badge {
  margin: 0;
  padding-bottom: 15px;
  font-size: 16px;
}

.events .card-title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 20px;
}


.events .card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.events ul li {
  margin-bottom: 0.7rem;
  font-size: 14px;
  padding-left: 10px;
}

.events .text-muted {
  opacity: 0.7;
}

.events .btn {
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  letter-spacing: 0.55px;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid $secondary;
  color: $black;
  background: $secondary;
  transition: all 0.2s;
}

.events .btn-disabled {
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  letter-spacing: 0.55px;
  font-size: 16px;
  line-height: 1.5;
  border: 2px solid $gray-300;
  color: $gray-600;
  background: $gray-300;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .events .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .events .card:hover .btn {
    opacity: 1;
  }
}