
.features-icons {
  background-color: #2bcc9e;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .features-icons-item {
    max-width: 20rem;
    .features-icons-icon {
      height: 7rem;
      i {
        font-size: 4.5rem;
      }
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# CTA row Banner with 2 buttons
--------------------------------------------------------------*/

  @media (min-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      float: right;
      display: flex;
      justify-content: flex-end;
      padding: 0px;    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: left;
      float: left;
      padding: 0px;
    }
  }

  @media (max-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      display: flex;
      justify-content: center;
    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: center;
    }
  }