
.features-icons {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .features-icons-item {
    padding: 5px 5px;
    text-align: center;
    background: transparent;
    .features-icons-icon img {
      height: 200px;
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# CTA row Banner with 2 buttons
--------------------------------------------------------------*/

  @media (min-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      float: right;
      display: flex;
      justify-content: flex-end;
      padding: 0px;    
    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: left;
      float: left;
      padding: 0px;
    }
  }

  .how-it-works-cta-banner .contact-us-text a {
    font-weight: 700;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      display: flex;
      justify-content: center;
    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: center;
    }
  }