.features-icons .features-icons-item p {
  font-size: 16px;
}

@media (max-width: 524px) {
  .features-icons {
    padding-top: 3rem;
  }
  
  .features-icons-item {
    padding: 5px 5px;
    text-align: center;
    background: transparent;
    .features-icons-icon img {
      height: 170px;
    }
    &:hover {
      .features-icons-icon {
        i {
          font-size: 5rem;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .features-icons {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 5rem;
    .features-icons-item {
      padding: 5px 10px;
      text-align: center;
      background: transparent;
      .features-icons-icon img {
        height: 170px;
      }
      &:hover {
        .features-icons-icon {
          i {
            font-size: 5rem;
          }
        }
      }
    }
  }
}
/*--------------------------------------------------------------
# CTA row Banner with 2 buttons
--------------------------------------------------------------*/

  @media (min-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      float: right;
      display: flex;
      justify-content: flex-end;
      padding: 0px;
      text-align: center;    
    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: left;
      float: left;
      padding: 0px;
    }
  }

  .how-it-works-cta-banner .contact-us-text a {
    font-weight: 700;
    font-size: 18px;
    color: $black;
  }

  @media (max-width: 768px) {
    .how-it-works-cta-banner {
      justify-content: center;
    }

    .how-it-works-cta-banner .find-out-btn {
      display: flex;
      justify-content: center;
    }
    
    .how-it-works-cta-banner .contact-us-text {
      text-align: center;
    }
  }


.find-out-how-it-works-btn {
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  letter-spacing: 0.55px;
  font-size: 18px;
  line-height: 1.5;
  border: 2px solid $secondary;
  color: $black;
  background: $secondary;
  position: relative;
  top: 0;
  transition: top ease 0.3s;
  display: inline-block;
}


.find-out-how-it-works-btn:hover {
  color: #000;
  text-decoration: none;
  background-color: $secondary;
  top: -3px;
}