h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

h3 {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 11px;
  font-size: 26px;
}

h4 {
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
  margin-bottom: 11px;
  font-size: 22px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  display: block;
}

/*--------------------------------------------------------------
# Navbar 
--------------------------------------------------------------*/
@media (min-width: 769px) {
  .navbar {
  margin-left: 142px;
  margin-right: 142px;
  padding: 8px 15px;
  }
}

.the-navbar .navbar .navbar-nav a.nav-link {
  color: $black;
}

.the-navbar .navbar .navbar-nav a.nav-link:hover {
  box-shadow: inset 0 -9px 0 white, inset 0 -10.5px 0 black;
}

.the-navbar .navbar .navbar-nav .active {
  box-shadow: inset 0 -9px 0 white, inset 0 -10.5px 0 black;
}


.the-navbar .navbar-nav .dropdown .dropdown-toggle {
  padding: 8px 8px 8px 0px;
}

.the-navbar .navbar-nav .dropdown .dropdown-item {
  padding: 4px 15px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding: 8px 0;
  position: relative;
}

.section-title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}


.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Nav Bar Contact Us Button
--------------------------------------------------------------*/
.nav-cta-btn {
  margin-left: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  border: 0;
  border-radius: 8px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 0.5px;
  color: $black;
  background-color: $secondary;
}

.nav-cta-btn:hover {
  color: $black;
  text-decoration: none;
  background-color: $secondary;
}

@media (max-width: 768px) {
  .nav-cta-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}


/*--------------------------------------------------------------
# Cta Call To Action
--------------------------------------------------------------*/
.cta {
  /* background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/img/cta-background.png") center center;
  background-size: cover; */
  padding: 80px 10px;
  background-color: $black;
  color: $white;
}

.cta h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  color: white;
}

.cta-btn {
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 25px 10px 25px;
  white-space: nowrap;
  letter-spacing: 0.6px;
  font-size: 18px;
  line-height: 1;
  border: 2px solid $secondary;
  color: $black;
  background: $secondary;
  position: relative;
  top: 0;
  display: inline-block;
  transition: top ease 0.3s;
}

.cta-btn:hover {
  background: $secondary;
  color: #000;
  border: 2px solid $secondary;
  text-decoration: none;
  top: -3px;
}


@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
  }
}


/*--------------------------------------------------------------
# Animating GIFs from Static png on hover
--------------------------------------------------------------*/

.features-icons .static {
  position:absolute;
  background: white;
}

.features-icons .static:hover {
  opacity:0;
}