/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .content {
  float:none;
  display:inline-block;
  padding: 0px;
}
.features .content + .content {
  margin-top: 5px;
  
}

.features .content img {
  max-width: 555px;
  height: auto;
  float:none;
  display:inline-block;
  padding: 0px;
  align-items: center;
}

.features .content ul {
  list-style: none;
  padding: 0;
}

.features .content ul li {
  padding-bottom: 10px;
}

.features .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #3b4ef8;
}

.features .content p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
  background-color: $gray-100;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding: 0 0 30px 25px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

.faq .faq-list i {
  font-size: 20px;
  position: absolute;
  left: -25px;
  top: 6px;
}

.faq .faq-list p {
  margin-bottom: 15px;
  font-size: 18px;
}


.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed i::before {
  content: "\f105" !important;
}