header.masthead {
  position: relative;
  background-color: #ffffff;
  background: url('../img/wave-header.svg') no-repeat center top;
  background-size: cover;
  @include background-cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .overlay {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  @media (min-width: 768px) {
    padding-top: 10rem;
    padding-bottom: 10rem;
    h1 {
      // font-size: 3rem;
      font-weight: 600;
    }
  }
}

.masthead-subtext {
  font-weight: 300;
  font-size: 40px;
}