.masthead {
  position: relative;
  background-color: #ffffff;
  background: url('../img/masthead.svg') no-repeat 30% 20%;
  background-size: 1100px 1100px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  margin-bottom: 1rem;
  .overlay {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }

  h1 {
    font-weight: 700;
  }
}

.masthead-subtext {
  font-weight: 400;
  font-size: 36px;
}