// Use Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

/*--------------------------------------------------------------
# Tutors
--------------------------------------------------------------*/
.tutor {
  background-color: $yellow;
  padding-bottom: 50px;
}

.tutor .member {
  text-align: center;
  padding: 30px 20px;
  background: transparent;
}

.tutor .member img {
  max-width: 40%;
  border-radius: 50%;
  margin: 0 0 10px 0;
}

.tutor .member p {
  padding-top: 10px;
  font-size: 15px;
  font-weight: 400;
}

.tutor .member .social {
  margin-top: 15px;
}

.tutor .member .social a {
  transition: 0.3s;
}


.tutor .member .social i {
  font-size: 18px;
  margin: 0 2px;
}