// Copied from bootstrap's original _variables.scss.
// This value defaults are set in bootstrap/scss/_variables.scss.
// They are depended by the next section, but we can not just import
// bootstrap/scss/variables before this because the doc mentioned:
// Variable overrides within the same Sass file can come before or after the default variables. However, when overriding across Sass files, your overrides must come before you import Bootstrap’s Sass files.

$white:    #fff !default;
$black:    #000 !default;
$gray-100: #f8f9fa !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$body-bg:                   $white !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$dark:          $gray-800 !default;

// _variables.scss from bootstrap.build/app
$blue: #6A9BF7;
$purple: #6739E4;
$green: #2bcc9e;
$red: #f93f32;
$yellow: #f4aa16;
$primary: $black;
$secondary: $green;
$info: $yellow;
$success: $purple;
$light: $white;
$emphasized-link-hover-darken-percentage: 20%;
$border-color: $black;
$border-radius: 0.4rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.3rem;
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bold: 800;
$font-weight-normal: 500;
$table-head-color: $primary;
$border-width: 1.5px;
$text-muted: $secondary;
$blockquote-small-color: $secondary;
$table-dark-bg: $black;
$input-border-color: $black;
$nav-tabs-border-color: $black;
$nav-tabs-link-active-color: $black;
$nav-tabs-link-active-border-color: $black $black $nav-tabs-link-active-bg;
$nav-tabs-link-hover-border-color: $black $black $nav-tabs-border-color;
$navbar-nav-link-padding-x: 0.5rem;
$dropdown-border-color: $black;
$pagination-border-color: $black;
$pagination-padding-y-lg: 0.7rem;
$pagination-hover-bg: $black;
$pagination-hover-color: $white;
$pagination-hover-border-color: $black;
$pagination-disabled-color: $gray-700;
$jumbotron-bg: $green;
$card-border-color: $black;
$card-cap-bg: rgba($dark, .05);
$toast-header-color: $black;
$toast-header-border-color: $black;
$toast-border-color: $black;
$modal-content-border-color: $black;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.5em;
$progress-bar-bg: theme-color("secondary");
$progress-bg: $gray-100;
$list-group-border-color: rgba($black, .8);
$thumbnail-border-color: $black;
