// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #28536b !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;



$blue: #6A9BF7;
$purple: #6739E4;
$green: #2bcc9e;
$red: #f93f32;
$yellow: #f4aa16;
$primary: $black;
$secondary: $green;
$info: $purple;
$success: $purple;
$light: $white;
$enable-responsive-font-sizes: true;
$emphasized-link-hover-darken-percentage: 20%;
$border-color: $black;
$border-radius: 0.4rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.3rem;
$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-bold: 800;
$font-weight-normal: 500;
$table-head-color: $primary;
$border-width: 1.5px;
$text-muted: $secondary;
$blockquote-small-color: $secondary;
$table-dark-bg: $black;
$input-border-color: $black;
$nav-tabs-border-color: $black;
$nav-tabs-link-active-color: $black;
$nav-tabs-link-active-border-color: $black $black $nav-tabs-link-active-bg;
$nav-tabs-link-hover-border-color: $black $black $nav-tabs-border-color;
$navbar-nav-link-padding-x: 0.5rem;
$dropdown-border-color: $black;
$pagination-border-color: $black;
$pagination-padding-y-lg: 0.7rem;
$pagination-hover-bg: $black;
$pagination-hover-color: $white;
$pagination-hover-border-color: $black;
$pagination-disabled-color: $gray-700;
$jumbotron-bg: $green;
$card-border-color: $black;
$card-cap-bg: rgba($dark, .05);
$toast-header-color: $black;
$toast-header-border-color: $black;
$toast-border-color: $black;
$modal-content-border-color: $black;
$badge-padding-y: 0.4em;
$badge-padding-x: 0.5em;
$progress-bar-bg: theme-color("secondary");
$progress-bg: $gray-100;
$list-group-border-color: rgba($black, .8);
$thumbnail-border-color: $black;